
#mm-reveal-button {
	position: fixed;
	z-index: 1000;
	top: 5px;
	right: 5px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	box-shadow: 0px 1px 2px 1px #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	background: var(--background-color);
	border: none;
}

#mm-reveal-button:active {
	box-shadow: 0px 1px 1px 0px #aaa;
}

.mm-root {
	position: fixed;
	z-index: 1000;
	top: 0px;
	width: 0px;
	right: 0px;
	height: calc(100vh);
	background: var(--background-color);
	overflow: hidden;
	transition: width 0.2s;
}

.mm-root-show {
	width: 200px;
	box-shadow: -1px 0px 6px 1px #575757;
}

#mm-hide-button {
	position: absolute;
	z-index: 1000;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#mm-options-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 15px;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.mm-option {
	margin: 5px;
}

#mm-away-modal {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2);
	width: calc(100vw);
	height: calc(100vh);
	z-index: 900;
}