
.resume-root {
	display: flex;
	justify-content: center;
	display: flex;
	background: var(--background-color);
}

.resume-map-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 300px;
}

#resume-download {
	text-transform: uppercase;
	max-width: 450px;
	cursor: pointer;
	margin: auto;
	color: inherit;
	border: 2px solid var(--light-blue);
}

.resume-map {
	border: 2px solid var(--light-blue);
	width: 170px;
	margin: auto;
	padding: 10px;
	position: fixed;
	top: 30%;
}

#resume-map-blob {
	height: 30px;
	width: 163px;
	position: absolute;
	background: var(--light-blue);
	transition: top 0.5s;
	z-index: -1;
}

.resume-content {
	padding: 20px;
	max-width: 1150px;
}

.resume-section-title {
	/*text-transform: uppercase;*/
	width: 100%;
	color: var(--light-blue);
	border-bottom: 2px solid var(--light-blue);
	margin-bottom: 30px;
}

.experience-timeline {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

#timeline-line {
	width: 10px;
	height: 100%;
	background-color: var(--light-blue);
	position: absolute;
	left: 40px;
	z-index: 0;
}

.timeline-section {
	display: flex;
	align-items: flex-start;
}

.timeline-ball {
	width: 80px;
	height: 50px;
	padding: 10px;
	margin-right: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	font-weight: 500;
	color: var(--background-color);
	background-color: var(--light-blue);
	z-index: 10;
}

#coursework-container {
	width: 95%;
	max-width: 900px;
	margin-bottom: 70px;
}

#coursework-header {
	border-bottom: 2px solid var(--second-color);
	margin-bottom: 10px;
}

.coursework-row {
	display: flex;
	margin: 5px;
}

.coursework-text-left {
	display: flex;
	align-items: center;
	width: 330px;
}

.coursework-text-right {
	display: flex;
	align-items: center;
}

.baby-dash {
	height: 4px;
	width: 18px;
	background: var(--text-color);
	margin-right: 10px;
}

.skills-text {
	margin: 15px;
	margin-left: 0px;
}

.resume-projects-title {
	font-size: 36px;
	border-bottom: 1px solid black;
	padding: 2px;
	margin: 0px 10px;
}

.resume-projects-body {
	font-size: 24px;
	padding: 0px 10px;
}

.resume-projects-image {
	height: 450px;
	z-index: 100;
	position: relative;
	border-radius: 2px;
	box-shadow: 0px 0px 8px #444;
}

.resume-projects-image-overlay {
	position: absolute;
	background-color: var(--light-blue);
	width: 100%;
	height: 100%;
	top: 0px;
	opacity: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	transition: opacity 0.2s;
	/*cursor: pointer;*/
	border-radius: 4px;
}

.resume-projects-image-overlay:hover {
	/*opacity: 0.9;*/
}

.resume-projects-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 150px;
	margin-top: 60px;
}

@media screen and (max-width: 500px) {

	.resume-content {
		max-width: calc(90vw);
		padding: 5px;
	}

	.resume-projects-container {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.resume-projects-image {
		max-width: calc(90vw);
		max-height: calc(90vh);
		width: auto;
		height: auto;
	}
}