.map-location-root {
	display: flex;
	align-items: center;
	height: 30px;
	cursor: pointer;
	z-index: 10;
}

.map-location-text {
	font-size: 18px;
}

.map-dash {
	height: 4px;
	width: 18px;
	background: var(--light-blue);
	margin-right: 10px;
}