.root {
  width: calc(100vw);
  height: 6000px;
  background: var(--background-color);
  position: relative;
}

.gradient {
  background: radial-gradient(ellipse 50% 50% at center, #1a2c3e, transparent);
  width: 120%;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -60%;
}

.bannerContainer {
  width: 1000px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -500px;
  perspective: 1000px;
  font-size: 64px;
  text-align: center;
}

.banner {
  perspective: 1000px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: var(--background);
  position: absolute;
  width: 100%;
  text-align: center;
}

.welcomeBanner {
  transform: rotateX(0deg);
}

.introBanner {
  transform: rotateX(180deg) translateY(-200px) translateZ(150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introBanner::after {
  content: "";
  width: 4px;
  height: 66px;
  background: #333;
  margin-left: 8px;
  animation-name: blink;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, start);
}

.wipBanner {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0% {
    backrgound: transparent;
  }
  20% {
    background: var(--background);
  }
}
