:root {
	--first-color: #14a76c;
	--second-color: #303a75;
	--third-color: #ffe400;
	--background-color: #fff;
}

.app-root {
	/*background-color: #747474;*/
	background-color: var(--background-color);
	font-family: 'Fugaz One', cursive;
	letter-spacing: 1px;
	scroll-behavior: smooth;
}

.header {
	/*background-color: #272727;*/
	background-color: var(--background-color);
}

.name-header {
	font-family: 'Fugaz One', cursive;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
	position: fixed;
	width: 100%;
	height: 38px;
	/*background-color: #272727;*/
	background-color: var(--background-color);
	transition: color 0.4s;
	z-index: 100;
	/*box-shadow: 0px 0px 8px #747474;*/
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 58px; /*must be the same as name-header height+paddinf*/
	background-color: var(--background-color);
}

.blob {
	/*background: transparent;*/
	height: 100px;
	width: 100px;
	margin: 10px;
	border: 4px solid #ffe400;
	margin: auto;
}

.fade-in {
	-webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.4s; /* Firefox < 16 */
	animation: fadein 0.4s;
}

.fade-out {
	opacity: 0;
	-webkit-animation: fadeout 0.4s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeout 0.4s; /* Firefox < 16 */
	animation: fadeout 0.4s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}